.test {
  color: #16ff2b;
}

#test2 {
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover, a:focus {
  color: red;
  text-decoration: red;
}

/* for boxes */
#page2 .box .inner p,
#page3 .box .inner p{
  display: inline-block;
  width: 300px;
}
