.zen .zen-media:after, .zen .zen-mediaBody:after {clear:both; display:block; visibility:hidden; overflow:hidden; height:0!important; line-height:0; content:"."}
.zen .zen-mediaBody {display:table-cell; width:1000em}
.zen .zen-img {float:left; background-repeat:no-repeat; margin-right:10px}
.zen .zen-img img {display:block}
.zen .zen-imgExt {float:right; margin-left:10px}
.zen .zen-mediaExt {white-space:nowrap}
.zen .zen-mediaExt, .zen .zen-mediaExt .zen-img, .zen .zen-mediaExt img, .zen .zen-mediaExt .zen-imgExt, .zen .zen-mediaExt .zen-mediaBody {display:inline; display:inline-block; vertical-align:middle; width:auto}
.zen .zen-mediaExt:after, .zen .zen-mediaExt .zen-mediaBody:after {content:""}
.zen .zen-mediaExt .zen-img {margin:0; margin-right:5px; float:none}
.zen .zen-mediaExt .zen-imgExt {margin:0; margin-left:5px; float:none}
.zen .zen-mediaExt a, .zen .zen-mediaExt img {vertical-align:middle; display:inline}